@media only screen and (max-width: 800px)
{
.header{
height:80px;
box-shadow:0px 55px 70px #f3f3f3;
position:relative;
width:100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
width:200px;
padding-left: 5%;
font-family:Raleway;
font-weight:700;
font-size:17px;
cursor: context-menu;
}

.menu{
float:right;
font-family:Raleway;
font-weight:700;
font-size:12px;
width:60%;
overflow:hidden;
}
.menu ul{
list-style-type: none;
display:flex;
}
.menu ul li{
margin-left:6%;
cursor: pointer;
}
.menublock{
display:none;
}
.logo1{
display:none;
}

}