.foot{
height:1000px;
position:relative;
width:100%;
display: flex;
flex-direction:column;
background:#fafafa;
cursor: context-menu;
}
.footheader{
margin-top:7%;
height:80px;
width:84%;
position:relative;
margin-left:8%;
}
.footheadbox{
left:0;
display:flex;
flex-direction:column;
position:absolute;
height:100%;
width:35%;
}
.footheadtext1{
width:100%;
height:100%;
font-family:Raleway;
font-weight:700;
font-size:50px;
}

.footbody{
width:84%;
margin-left:8%;
margin-right:8%;
height:70%;
margin-top:2%;
display:flex;
flex-direction:column;
background:url("./../../assets/images/footer/footimg.jpg")no-repeat;
background-size:100%;
background-position: center;
color:white;
border-radius:30px;
}
.footbodycont{
height:90%;
width:95%;
margin-left:5%;
display:flex;
flex-direction:row;
justify-content:space-between;
}
.footcopyright{
height:10%;
text-align:center;
font-family:Raleway;
font-weight:500;
font-size:18px;
}
.footbodycont1{
width:30%;
height:100%;
display:flex;
flex-direction:column;
}
.footconthead{
font-family:Raleway;
font-weight:600;
font-size:40px;
margin-top:15%;
}
.footcontbody{
font-family:Raleway;
width:80%;
font-weight:300;
font-size:20px;
margin-top:7%;
line-height:2;
}
.footcontbody1{
font-family:Raleway;
width:80%;
font-weight:300;
font-size:20px;
margin-top:7%;
line-height:2;
display:flex;
flex-direction:row;
}
.footday{
margin-right:10%;
height:100%;
width:50%;
}
.foothours{
width:40%;
height:100%;
}