@media only screen and (max-width: 700px)
{
.main1{
height:270px;
position:relative;
width:100%;
display: flex;
flex-direction:row;
align-items: center;
background:#fafafa;
cursor: context-menu;
margin-top:70px;
}

.main1box1{
width:40%;
display:flex;
flex-direction:column;
margin-left:5%;
height:100%;
}
.main1box2{
width:55%;
display:flex;
flex-direction:column;
height:100%;
}
.main1text1{
margin-top:5%;
font-family:Raleway;
font-weight:300;
font-size:20px;
}
.main1text2{
margin-top:4%;
font-family:Raleway;
font-weight:500;
font-size:22px;
}
.main1text3{
margin-top:3.5%;
font-family:Raleway;
font-weight:700;
font-size:28px;
}
.main1buttonbox{
margin-top:8%;
display:flex;
flex-direction:row;
font-family:Raleway;
font-weight:600;
font-size:10px;
text-align: center;
color:white;
}
.main1button1{
height:10px;
background:#0099ff;
margin-right:3%;
border:1px solid #0099ff;
padding:5px 15px;
border-radius:35px;
transition:color 0.3s,background 0.3s;
}
.main1button1:hover{
cursor:pointer;
color:#0099ff;
background:white;
}
.main1button2{
height:10px;
color:#0099ff;
border:1px solid #0099ff;
padding:5px 15px;
border-radius:35px;
transition:color 0.3s,background 0.3s;
}
.main1button2:hover{
cursor:pointer;
color:#fff;
background:#0099ff;
}
.main1vertext{
height:3%;
width:200px;
margin-top:15%;
margin-left:3%;
color:#cfcfcf;
font-family:Raleway;
font-weight:400;
font-size:15px;
letter-spacing: 1px;
transform: rotate(0deg);
}

.main1imgdiv{
width:95%;
height:65%;
background:url("./../../assets/images/main2/hero1.jpg")no-repeat;
background-size: cover;
margin-top:0;
margin-left:5%;
border-radius:10px;
}

.main1dots{
width:25px;
height:35px;
margin-top:-8%;
margin-left:3%;
background:url("./../../assets/images/main1/Decorative.svg")no-repeat;
background-size: cover;
}
.main1box2last{
margin-top:1%;
height:30%;
width:100%;
display:flex;
flex-direction:row;
position:relative;
}

.main1mouse{
background:url("./../../assets/images/main1/mouse.png")no-repeat;
background-size: 100%;
width:3%;
margin-top:8%;
}
.main1mousetext{
font-size:5px;
font-family:Raleway;
font-weight:500;
margin-top:8%;
margin-left:0.5%;
width:3%;
}

.main1one{
position:absolute;
color:#efefef;
font-family:Raleway;
font-weight:600;
font-size:60px;
right:30px;
}
.main1mob{
display:none;
}
}
